body{
  background-color: #F8EDE3;
}
img{
  position: relative;
  top: 200px;
  bottom: 200px;
  left:494px;
  width: 250px;
  height: 400px;
  border-radius: 8px 0 0 8px;
}
div{
  background-color: white;
  text-align: left;
  padding: 0px 20px 20px;
  width: 220px;
  height: 380px;
  position: absolute;
  top: 208px;
  left: 750px;
  bottom: 208px;
  border-radius: 0 8px 8px 0;
}
p{
  font-weight: normal;
  color: grey;
  font-size: 14px;
  font-family: 'Montserrat';
}
h1{
  line-height: 1;
  font-family: 'Fraunces';

}
.product-desc{
line-height: 1.5;
}
.product-name{
  font-size: 10px;
  letter-spacing: 5px;
  padding-top: 20px;
}
.price{
  color: #3D8361;
  position: relative;

}
.alt-price{
  position: absolute;
  top: 280px;
  left:150px;
}

.btn {

  background: #3D8361;
  background-image: -webkit-linear-gradient(top, #3D8361, #3D8361);
  background-image: -moz-linear-gradient(top, #3D8361, #3D8361);
  background-image: -ms-linear-gradient(top, #3D8361, #3D8361);
  background-image: -o-linear-gradient(top, #3D8361, #3D8361);
  background-image: linear-gradient(to bottom, #3D8361, #3D8361);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 60px 10px 60px;
  text-decoration: none;
  margin-bottom: 150px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
